@media screen and (max-width:767px){

    /*---------- Header component css-------------*/

    .categories{
        flex-direction: column;
        row-gap: 20px;
        padding: 20px;
        
    }

    .header-container input{
        display: none;
    }

    .search-input{
        border: none;
        padding: 0;
    }

    .account-cart-container span{
        display: none;
    }

    .categories-container{
        display: none;
        transition-property: display;
        transition-duration: 3s;
        position: relative;
    z-index: 2;
    background: white;
    top: 0;
    width: 90vw;
    }

    .hamburger-container{
        display: block;
    }

    .header-container{
        padding: 10px;
    }

    .cross{
        display: block;
    }

    .icon{
        display: block !important;
    }

    /* -------- Category component style-------------- */

    .Category-container img{
        width: 100%;
    }

    .Category-container{
     display: flex;
     flex-direction: column;
    }

    /* -------- Review Container------- */

    .review-card-container{
        width: 85vw;
    }

    .custom-card{
        min-width: 75vw;
    }

    /* ---------Product components style-------- */

    .product{
        grid-template-columns: none;
    }

    .filter-container{
        position: absolute;
        z-index: 2;
        background: white;
        width: 90vw;
        display: none;
    }


    /* ------- filter-product components style-------- */

    .filter-text-container{
                display: flex;
    }

    .Active{
        
        grid-template-columns: 45vw 45vw; 
        justify-content: space-around; 
        column-gap: 0;
    }

    /* ------- Product Cart components style ------- */
    .Car{
        grid-template-columns: 45vw 45vw;
    }

    .product-item span{
        font-size: 12px;
    }
}